@media screen and ( min-width: 780px ) {
	.wp-list-table.relationships .column-from,
	.wp-list-table.relationships .column-to {
		width: 12%;
	}
	.wp-list-table.relationships .column-status,
	.wp-list-table.relationships .column-type {
		width: 15%;
	}
	#titlediv {
		margin-top: 12px;
	}
}
