/* List Table */
@media only screen and ( min-width: 780px ) {
	.wp-list-table.relationships .column-from,
	.wp-list-table.relationships .column-to {
		width: 12%;
	}
	.wp-list-table.relationships .column-status,
	.wp-list-table.relationships .column-type {
		width: 15%;
	}
	#titlediv {
		margin-top: 12px;
	}
}

/* Metabox */
#connections .inside,
#connections ul.new-relationship,
#connections li {
	padding: 0;
	margin: 0;
}

li.add-new-relationship {
	display: none;
}

li.relationship,
li.relationship i {
	cursor: move;
}

li.relationship.ui-sortable-placeholder {
	visibility: visible !important;
}

#connections li {
	background-color: #fff;
	list-style: none;
}

#connections li * {
	vertical-align: middle;
}

#connections div.row-wrapper {
	padding: 10px;
}

#connections li.no-relationships div.row-wrapper {
	padding: 13px 15px 17px;
}

#connections li.relationship:not(:last-child) {
	border-bottom: 1px solid #eee;
}

#connections li.relationship.ui-sortable-helper {
	margin-top: -1px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

#connections li.relationship.ui-sortable-placeholder {
	background-color: #f5f5f5;
}

li.relationship div.actions {
	display: inline-block;
	vertical-align: middle;
	width: 75px;
}

ul.new-relationship li.relationship label {
	text-align: right;
	width: 100%;
	float: left;
}

ul.new-relationship li.relationship label span {
	font-weight: 600;
}

ul.new-relationship input[type=text] {
	width: 33%;
}

ul.new-relationship .actions i {
	color: #ccc;
}
ul.new-relationship a.remove-relationship {
	color: #e63946;
}

ul.new-relationship li.no-relationships:not(:only-of-type) {
	display: none;
}
